## 1. Извлекаем простые эмбеддинги с помощью SVD

In [1]:
import pandas as pd
import numpy as np

df_history = pd.read_parquet('history_train.pq')
df_history

,category_id,microcategory_id,item_id,event_type,source_event_type,request_id,location_id,event_age_seconds
0,31,189,979366,0,0,136128,5215,2651288
1,31,6321,979366,2,8,136128,161,2651246
2,31,6321,979366,4,8,136128,5215,2651229
3,31,189,11420517,0,0,136128,5215,2651206
4,31,189,15674214,0,0,136128,5215,2651198
...,...,...,...,...,...,...,...,...
1470078,20,121,1946860,0,2,32097,5607,250743
1470079,20,135,9698131,0,3,32097,5607,250610
1470080,20,135,9698131,0,3,32097,5607,250569
1470081,20,135,1214040,0,4,32097,5616,250495
1470082,36,12,16876592,0,2,32097,5607,2754728

In [2]:
len(df_history['request_id'].unique())

139324

In [4]:
from scipy.sparse import csc_matrix

row = df_history['request_id'].values
col = df_history['item_id'].values
data = df_history['event_type'].values

sparse_history_matrix = csc_matrix((data, (row, col)), shape=(max(row) + 1, max(col) + 1), dtype=float)

In [5]:
from scipy.sparse.linalg import svds

u, s, vT = svds(sparse_history_matrix)

In [7]:
u.shape

(209251, 6)

In [8]:
vT.shape

(6, 34132266)

In [9]:
max(row)

209250

In [11]:
np.save('items_embeddings_baseline.npy', u)
np.save('requests_embeddings_baseline.npy', vT.T)